@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NTier Blog - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="NTier Blog Login Page" name="description" />
    <meta content="NTierBlog" name="NTierBlog" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class=""></div>
                                <div class="container">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                                <i class=""></i> <b>
                                                    NTİER BLOG
                                                </b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Create an Account!</h1>
                                        <p class="text-muted mb-4">Don't have an account? Create your own account, it takes less than a minute</p>
                                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                <label asp-for="Input.Email">Email</label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.Password">Password</label>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" />
                                                <label asp-for="Input.DateOfBirth">Date of Birth</label>
                                                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                            </div>
                                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success btn-block waves-effect waves-light">Register</button>
                                        </form>

                                        <div class="row mt-4">
                                            <div class="col-12 text-center">
                                                <p class="text-muted mb-0">Already have account?  <a asp-page="./Login" class="text-muted font-weight-medium ml-1"><b>Sign In</b></a></p>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- jQuery  -->
    <script src="~/admin/assets/js/jquery.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/js/metismenu.min.js"></script>
    <script src="~/admin/assets/js/waves.js"></script>
    <script src="~/admin/assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="~/admin/assets/js/theme.js"></script>

</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
